<div id="<%= dom_id api_token %>">
  <p>
    <strong>Name:</strong>
    <%= api_token.name %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= api_token.token.truncate(9) %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= api_token.active %>
  </p>

</div>
